/*Responsive tablet*/

@media (max-width:900px){
    /*header*/
    
    .menu-toggle{
        display: flex;
    }
    header nav{
        display: none;
        position: absolute;
        top: 90px;
        left: 0;
        height: calc(100vh - 90px);
        width: 30%;
    }
    header nav ul{
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }
    header nav ul li a{
        flex-direction: row;
        gap: 15px;
    }

    /*product*/

    .product_card_info img{
        width: 200px;
    }
    .product_card_name{
        font-size: 15px;
    }

    /*About Us*/

    #about-us{
        flex-direction: column;
        align-items: center;
    }
    .about-us_info{
        width: 80%;
    }
    .about-us_img{
        width: 70%;
    }

    /*Contact*/
    #contact{
        grid-template-rows: 30% 15% 55%;
    }
    .contact_redes{
        grid-area: 1 / 2 / 2 / 3;
    }
    .contact_pagos{
        grid-area: 2 / 1 / 3 / 3;
    }
    .contact_map{
        grid-area: 3 / 1 / 4 / 3;
    }
}

/*Responsive phone*/

@media (max-width:500px){ 

    /*header*/


    header{
        display: grid;
        height: 180px;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 90px 90px;
        justify-items: center;
    }
    .menu-toggle{
        grid-area: 2 / 1 / 3 / 2;
    }
    .logo{
        width: 180px;
        grid-area: 1 / 2 / 2 / 3;
    }
    .cart-icon{
        grid-area: 2 / 3 / 3 / 4;
    }
    .login{
        grid-area: 2 / 2 / 3 / 3;
    }
    header nav{
        display: none;
        height: calc(100vh - 180px);
        top: 180px;
        width: 50%;
    }

    /*about us*/

    .carrousel-brands-img img{
        width: 100%;
    }
    .carrousel-brands-img img{
        width: 100px;
    }

    /*contact*/

    .contact_redes{
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    /*hero*/
    
    #hero{
        margin-top: 180px;
    }
    .hero_carrousel img{
        width: 300px;
        height: 350px;
    }
}

