:root {
    --back-head: radial-gradient(circle, rgba(52,58,64,1) 51%, rgba(72,76,80,1) 70%, rgba(56,60,64,1) 100%);
    --dark: #000000;
    --gray:#C7C7C7;
    --text-gray:#909294;
}
*{
    list-style: none;
    padding: 0 ;
    margin: 0;
    box-sizing: content-box;
}
html{
    scroll-padding: 90px;
}

/*Header*/

header{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    padding:0px 15px;
    background: var(--back-head);
}
.menu-toggle{
    display: none;
}
.logo{
    display:flex ;
    height: 60px;
    align-items: center;
    background:var(--bs-white);
    gap: 10px;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 2px 2px 30px 5px black;
}
.logo img{
    width: 30px;
}
header nav{
    width: 50%;
    padding: 0 20px;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding: 0;
}
header nav ul li a{
    display: flex;
    flex-direction: column;
    color: var(--bs-white);
    align-items: center;
    text-decoration: none;
}
.cart-icon{
    display: flex;
    flex-direction: column;
    color: var(--bs-white);
    margin: 0 20px;
    font-size: 15px;
    position: relative;
    background: transparent;
    border: none;
    text-decoration: none;
}
.cart-numb{
    display: none;
    background: var(--bs-danger);
    font-size: 20px;
    font-weight: bolder;
    padding: 7px;
    border-radius: 50%;
    position:absolute;
    right: -20px;
    
}
.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}
.avatar-img{
    width: 35px;
}
.login-container i{
    display: flex;
    font-size: 40px;
    color: var(--gray);
    cursor: pointer;
}

.avatar-name{
    color: var(--gray);
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 0;
}

/*Hero*/
#hero{
    margin-top: 90px;
    width: 100%;
}
.hero_container{
    overflow: hidden;
    background: var(--bs-gray-dark);
}
.hero_carrousel{
    display: flex;
    overflow-x: hidden;
    width: fit-content;
    padding: 0 20px;
    gap: 20px;
    animation: carrousel 40s infinite;

}
.hero_carrousel img{
    height: 500px;

}

/*Product*/

#product{
    padding: 15px;
}
.search-products{
    display: flex;
}
#filter:checked + .search-products_filter{
    display: flex;
}
#filter{
    display: none;
}
#search-products_name{
    border-radius: 3rem 0px 0px 3rem;
    color: var(--text-gray);
    border: 2px solid var(--gray);
    padding-left: 10px;
    font-size: 20px;
}
#search-products_name::placeholder{
    color: var(--text-gray);
}
.filter_check{
    color: var(--text-gray);
    padding: 5px;
    border: 2px solid var(--gray);
    cursor: pointer;
    font-size: 20px;
}
.search-products_filter{
    display: none;
}
.search-products_filter select{
    color: var(--text-gray);
    padding: 5px;
    border: 2px solid var(--gray);
    cursor: pointer;
    font-size: 20px;
}
.search-products_submit{
    color: var(--text-gray);
    background: var(--gray);
    border: none;
    padding: 10px;
    border-radius: 0 3rem 3rem 0;
    font-size: 20px;
}
.error-product{
    margin: auto;
    margin-top: 30px;
    color: red;
    font-size: 25px;
    font-weight: lighter;
}
.poduct_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    gap: 30px;
    padding: 30px;
}
.product_card{
    display: flex;
    border: 2px solid var(--gray);
    border-radius: 3rem;
    gap: 10px;
}
.product_card_info{
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding: 15px;
    gap: 15px;
}
.product_card_info img{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.product_card_name{
    font-size: 25px;
}
.product_card_description{
    display: none;
    flex-direction: column;
    gap: 7px;
    padding:15px;
}
.product_card_description h3{
    font-size: 20px;
}
.product_card_description span{
    font-weight: lighter;
    margin-left: 7px;
}
.product_card_description p{
    font-size: 17px;
    max-width: 250px;
}

.products-vermas{
    justify-content: center;
}

/*About Us*/
#about-us{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.about-us_info{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}
.about-us_info p{
    font-size: 20px;
    text-align: center;
}
.carrousel-brands{
    overflow: hidden;
}
.carrousel-brands-img{
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 10px;
    overflow-x:hidden;
    animation: carrousel 15s infinite;
}
.carrousel-img img{
    width: 200px;
    height: 100px;
}
.about-us_img{
    width: 45%;
}

/*Contact*/

#contact{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 20% 30%;
    padding: 15px;
    margin-bottom: 30px;
    gap: 15px;
}
#contact h2{
    font-size: 20px;
}
.contact_contactanos{
    grid-area: 1 / 1 / 2 / 2;
}
.contact_contactanos p{
    display: flex;
    align-items: center;
    gap: 5px;
}
.contact_contactanos p i{
    font-size: 20px;
    font-weight: bolder;
    color:var(--dark);
    cursor: pointer;
    margin-right: 10px;
}
.contact_redes{
    grid-area: 2 / 1 / 3 / 2;
}
.contact_redes img{
    margin-right: 15px;
}
.contact_pagos{
    grid-area: 3 / 1 / 4 / 2;
}
.contact_pagos img{
    width: 60px;
    height: 40px;
}
.contact_pagos-medios{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    gap: 10px;
}
.contact_map{
    display: grid;
    grid-area: 1 / 2 / 4 / 3;
    place-content: center;
}
.map{
    width: 350px;
    height: 350px;
}

/*Shop*/

.shop{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    border-radius: 0 0 0 2rem;
    gap: 10px;
    position: fixed;
    top: 90px;
    right: 0px;
    height:calc(100vh - 95px);
    background: var(--bs-white);
    padding: 20px;
    box-shadow: 3px 3px 20px 3px black;
}
.shop-buy{
    display: none;
    flex-direction: column;
}
.shop-buy h2{
    font-size: 23px;
}
.total-price{
    font-size: 20px;
}
.shop-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
}
.shop-container::-webkit-scrollbar{
    display: none;
}
.shop-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    padding: 5px 15px;
    border: 3px solid var(--text-gray);
    gap: 10px;
}
.shop-card img{
    width: 200px;
    border-radius: 3rem;
}
.shop-card h3{
    max-width: 200px;
    text-align: center;
    font-size: 15px;
}


/*Background filter*/
.background{
    display: none;
    position: fixed;
    top: 90px;
    width: 100%;
    height: calc(100vh - 90px);
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.05);
}
/*Footer*/

footer{
    display: grid;
    place-content: center;
    background: var(--bs-gray-dark);
    color: var(--bs-white);
    text-align: center;
}
footer p{
    margin:5px;
}


/*Animations*/

@keyframes carrousel {
    0% {
    transform: translateX(0%);
    }
    10% {
    transform: translateX(-10%);
    }
    
    20% {
    transform: translateX(-25%);
    }

    30% {
    transform: translateX(-40%);
    }
    40% {
    transform: translateX(-55%);
    }
        
    50% {
    transform: translateX(-70%);
    }
    60% {
    transform: translateX(-55%);
    }
    
    70% {
    transform: translateX(-40%);
    }
    
    80% {
    transform: translateX(-25%);
    }
    
    100% {
    transform: translateX(0);
    }
}

/*Aux*/

.flex-on{
    display: flex;
}